.server {
    color: #eee;
}

.server.server-ok {
    background-color: green;
}

.server.server-warning {
    color: black;
    background-color: yellow;
}

.server.server-unknown {
    background-color: grey;
}

.server.server-nok {
    background-color: red;
}

.app {
    margin: auto;
    width: 49%;
    height: 48%;
    border: 1px solid #000;
}

.app .top-row {
    display: flex;
    border-bottom: 1px solid #000;
}
.app .top-row h1 {
    flex-basis: 25%;
    margin: 0;
    padding: 10px;
    border-right: 1px solid #000;
}
.app .top-row h1.status-ok {
    background-color: #afa;
}
.app .top-row h1.status-warn {
    background-color: #faa;
}
.app .top-row h1.status-unknown {
    background-color: #ccc;
}
.app .top-row .env {
    flex-basis: 15%;
    padding: 10px;
    border-right: 1px solid #000;
}
.app .top-row .env.status-ok {
    background-color: #afa;
}
.app .top-row .env.status-warn {
    background-color: #faa;
}
.app .top-row .env.status-unknown {
    background-color: #ccc;
}
.app .top-row .env:last-child {
    border-right: 0;
}
.app .top-row .env h2 {
    margin: 0;
    padding: 0;
}
.app .chart-holder {
    padding: 10px;
}

#app-container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
