.server {
    color: #eee;
}

.server.server-ok {
    background-color: green;
}

.server.server-warning {
    color: black;
    background-color: yellow;
}

.server.server-unknown {
    background-color: grey;
}

.server.server-nok {
    background-color: red;
}
